/* P6.HTML CODE */
.cssColor1{
    background-color: aqua;
}
.cssColor2{
    background-color: gray;
}
.cssColor3{
    background-color: brown;
}
.commonCssColors >h1 {
    color: blue;
    padding: 20px;
    margin: 20px;
}

/* P7.HTML CODE */
.jumbotron{
    background-color: pink;
    border-radius: 10px;
}
.cssFont{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    font-variant: small-caps;
}
.cssText{
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    line-height: 2;
    letter-spacing: 10px;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-decoration: underline;
    text-decoration: line-through;
    text-transform: lowercase;
    text-transform: uppercase;
    text-transform: capitalize;   
}

/*P8.HTML CODE */
.navBar{
    background-color: #808080;
}
.navBar>ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    float: right;
}
.navBar>ul>li{
    display: inline-block;
    padding: 20px;
}
.navBar>ul>li:hover{
    background-color: #fff;
}
.navBar>ul>li>a{
    color: #fff;
    text-decoration: none;
}
.navBar>ul>li:hover a{
    color: #808080;
}
.navBar>img{
    height: 54px;
}
/* LIST MARKER POSITION */
.list-marker-position>ol>li{
    background-color: teal;
    padding: 20px;
    margin-bottom: 20px;
    list-style-position: inside;
}
.list-marker-position>ol>li::marker{
    color: yellow;
    font-size: 20px;
    font-weight: bold;
}
/* USING IMAGE AS BULLET POINT */
.list-icon>ul>li{
    margin: 10px;
    list-style-image: url(../images/phone-call.png);
}
/*LIST SHORTHAND PROPERTY */
.list-shorthand>ul>li{
    background-color: teal;
    padding: 20px;
    margin: 20px;
    color: red;
    /*list-style-type: none;
    list-style-position: inside;
    list-style-image*/

    list-style: none inside url(../images/heart\ \(1\).png);
}
    

    

/*Assignment.html*/

.commonCssColors{
    color: black;
}
.cssImage.jumbotron{
    background-color: aqua;
    color: paleturquoise;
}
.cssFont{
    background-color: lightblue;
}

.cssText{
    background-color: aquamarine;
    text-shadow: gray;
    text-decoration: wavy;
    text-align: center;
    -ms-text-size-adjust: auto;
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* P9.HTML CODE */
.empty-cell-table{
    empty-cells:hide;
}
.odd-even-table, .odd-even-table th, .odd-even-table td{
    border: 1px solid red;
    padding: 20px;
    border-collapse: collapse;
}
.odd-even-table tr:nth-child(odd){
    background-color: lightgray;
}
.odd-even-table tr:nth-child(even){
    background-color: grey;
}
.odd-even-table tr:hover{  
    background-color: lightgreen;
    color: #fff;
}
.odd-even-table th{
    background-color: yellow;
}
.odd-even-table td{
    height: 50px;
    vertical-align: sub;
}
.layout-table, .layout-table th, .layout-table td{
    border: 2px solid #808080;
    border-collapse: collapse;
    padding: 2opx;
}
.layout-table{
    width: 1%;
    table-layout: fixed;
}
.layout-table td, .layout-table th{
    overflow: auto;
}
/*P10.HTML CODE */
*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: skyblue;
}
header > nav > ul{
    list-style-type: none;
    float: right;
}
header > nav > img{
    height: 54px;
}
header >nav>ul>li{
    display:inline-block;
    padding: 20px;

}
header>nav>ul>li>a{
    text-decoration: none;
    color: antiquewhite;
}
header>nav>ul>li:hover a{
    color: gold;
}
/* P11.HTML CODE */
.commonBanner{
    padding: 30px;
    color: black;
    text-align: center;
    height: 600px;
}
.commonBanner>h1{
    font-size: 60px;
}
.commonBanner>h1>:hover{
    color: gold;
}
.banner1{
    background-color: aqua;
}
.banner1>h1:hover{
    color: red;
}
.banner1>p:hover{
    color: blue;
}
.banner2{
    background-image: url(../images/pexels-richard-verbeek-572861.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner2>h1:hover{
    color: red;
}
.banner2>p:hover{
    color: blue;
}




    
    
    


